<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{ms:global.name/}-${field.title}</title>
<meta name="keywords" content="${field.keyword}">
<meta name="description" content="${field.descrip}">
<link rel="stylesheet" href="${base}/{ms:global.style/}css/app.css">
</head>
<body>
<#include "头部.htm"/>

<div class="bq-pagebanner" style="background-image:url('${(field.categoryImg)!"/{ms:global.style/}images/bg-1.jpg"}')">
    <h1>${field.typetitle}</h1>
    <p>ABOUT US</p>
</div>

<div class="bq-container bq-detail">
    <h1 class="title">${field.title}</h1>
    <div class="content">${field.content}</div>
</div>

<#include "底部.htm"/>
</body>
</html>
